In [1]:
%pip install pdfplumber

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pdfplumber in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (0.11.5)
Requirement already satisfied: pypdfium2>=4.18.0 in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from pdfplumber) (4.30.1)
Requirement already satisfied: pdfminer.six==20231228 in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from pdfplumber) (20231228)
Requirement already satisfied: Pillow>=9.1 in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from pdfplumber) (11.1.0)
Requirement already satisfied: cryptography>=36.0.0 in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from pdfminer.six==20231228->pdfplumber) (44.0.0)
Requirement already satisfied: charset-normalizer>=2.0.0 in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from pdfminer.six==20231228->pdfplumber) (3.4.1)
Requirement already satisfied: cffi>=1.12 in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from cryptography>=36.0.0->pdfminer.six==20231228->pdfplumber) (1.17.1)
Requirement already satisfied: pycparser in /Users/jonathan/Library/Python/3.9/lib/python/site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20231228->pdfplumber) (2.22)
WARNING: You are using pip version 21.2.4; however, version 25.0.1 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import necessary libraries
import requests
import pdfplumber
from io import BytesIO
import re
import pandas as pd

/Users/jonathan/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [3]:
#Function to scrape stocking report pdf
def extract_stocking_data_from_url(pdf_url):
    # Step 1: Download the PDF from the URL
    response = requests.get(pdf_url)
    
    # Check if the request was successful
    if response.status_code != 200:
        print("Failed to retrieve PDF.")
        return None
    
    # Step 2: Open the PDF from the downloaded bytes using pdfplumber
    with pdfplumber.open(BytesIO(response.content)) as pdf:
        text = ""
        # Extract text from each page of the PDF
        for page in pdf.pages:
            text += page.extract_text()

    # Step 3: Process the text and extract the relevant data
    lines = text.split('\n')
    
    # Locate the "Year to Date STOCKING REPORT" and start extracting data from there
    start_index = None
    for i, line in enumerate(lines):
        if "Year to Date STOCKING REPORT" in line:
            start_index = i + 1  # Start after the header line
            break
    
    if start_index is None:
        print("Failed to find the report start line.")
        return None
    
    # Extract rows
    data = []
    for line in lines[start_index:]:
        # Adjusted regex to account for potential variations in spacing, formatting, parentheses, and numbers
        match = re.match(r'(\d{1,2}/\d{1,2}/\d{4})\s+([A-Za-z\s\.()0-9#\'-]+?)\s+(\d+)\s+(\d+)', line.strip())
        if match:
            date, city, qty, size = match.groups()
            # Check for specific fish species names and adjust accordingly
            city = city.strip()
            if "L.L. SALMON" in city:
                species = "L.L. SALMON"
                city = city.replace("L.L. SALMON", "").strip()
            elif "SPLAKE" in city:
                species = "SPLAKE"
                city = city.replace("SPLAKE", "").strip()
            elif "BROOK TROUT" in city:
                species = "BROOK TROUT"
                city = city.replace("BROOK TROUT", "").strip()
            elif "LAKE TROUT" in city:
                species = "LAKE TROUT"
                city = city.replace("LAKE TROUT", "").strip()
            elif "RAINBOW TROUT" in city:
                species = "RAINBOW TROUT"
                city = city.replace("RAINBOW TROUT", "").strip()
            elif "BROWN TROUT" in city:
                species = "BROWN TROUT"
                city = city.replace("BROWN TROUT", "").strip()
            else:
                species = "Unknown"
            
            # Append the data to the list
            data.append([date, city, int(qty), int(size), species])
        else:
            # Optionally print lines that don't match to debug
            print(f"Skipped line (doesn't match): {line}")
    
    # Step 4: Create a DataFrame
    df = pd.DataFrame(data, columns=["Date", "City/Town", "Qty", "Size (inch)", "Fish"])
    
    return df

# PDF URL
pdf_url = 'https://www.maine.gov/ifw/docs/2024%20Annual%20Fish%20Stocking%20Report.pdf'

# Extract the data and show it as a DataFrame
df = extract_stocking_data_from_url(pdf_url)
if df is not None:
    print(df.head())  # Display the first few rows of the DataFrame

Skipped line (doesn't match): Androscoggin County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 1 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Androscoggin County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Androscoggin County
Skipped line (doesn't match): Page 2 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Aroostook County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 3 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Aroostook County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Aroostook County
Skipped line (doesn't match): Page 4 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Cumberland County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 5 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Cumberland County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 6 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Cumberland County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 7 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Cumberland County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Cumberland County
Skipped line (doesn't match): Page 8 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Franklin County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 9 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Franklin County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 10 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Franklin County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Franklin County
Skipped line (doesn't match): Page 11 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Hancock County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 12 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Hancock County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): 5/9/2024 LEAD MTN P (LO & MD) T28 MD BROWN TROUT 300 9
Skipped line (doesn't match): Page 13 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Hancock County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Hancock County
Skipped line (doesn't match): Page 14 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Kennebec County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 15 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Kennebec County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): 5/16/2024 WAYNE F&G CLUB P WINTHROP BROOK TROUT 200 10
Skipped line (doesn't match): Page 16 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Kennebec County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Kennebec County
Skipped line (doesn't match): Page 17 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Knox County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Knox County
Skipped line (doesn't match): Page 18 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Lincoln County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Lincoln County
Skipped line (doesn't match): Page 19 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Oxford County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 20 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Oxford County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 21 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Oxford County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 22 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Oxford County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): 5/30/2024 SOUTH & ROUND PDS GREENWOOD L.L. SALMON 100 8
Skipped line (doesn't match): 10/4/2024 SOUTH & ROUND PDS GREENWOOD BROOK TROUT 200 12
Skipped line (doesn't match): Page 23 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Oxford County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Oxford County
Skipped line (doesn't match): Page 24 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Penobscot County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): 10/8/2024 CARIBOU,EGG,LONG P LINCOLN BROOK TROUT 500 13
Skipped line (doesn't match): 11/21/2024 CARIBOU,EGG,LONG P LINCOLN BROOK TROUT 200 14
Skipped line (doesn't match): Page 25 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Penobscot County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Penobscot County
Skipped line (doesn't match): Page 26 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Piscataquis County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 27 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Piscataquis County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): 9/24/2024 INDIAN & DAM PONDS T7 R9 NWP BROOK TROUT 1000 7
Skipped line (doesn't match): Page 28 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Piscataquis County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 29 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Piscataquis County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Piscataquis County
Skipped line (doesn't match): Page 30 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Sagadahoc County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Sagadahoc County
Skipped line (doesn't match): Page 31 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Somerset County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): 5/9/2024 BRASSUA L TAUNTON & RAYNHAM A L.L. SALMON 500 7
Skipped line (doesn't match): Page 32 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Somerset County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): 4/29/2024 LONG P TAUNTON & RAYNHAM A BROOK TROUT 1980 10
Skipped line (doesn't match): Page 33 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Somerset County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): 4/18/2024 WEST OUTLET (MOOSEHEAD L) TAUNTON & RAYNHAM A BROOK TROUT 660 10
Skipped line (doesn't match): 5/10/2024 WEST OUTLET (MOOSEHEAD L) TAUNTON & RAYNHAM A BROOK TROUT 100 10
Skipped line (doesn't match): 5/10/2024 WEST OUTLET (MOOSEHEAD L) TAUNTON & RAYNHAM A BROOK TROUT 500 10
Skipped line (doesn't match): 5/10/2024 WEST OUTLET (MOOSEHEAD L) TAUNTON & RAYNHAM A L.L. SALMON 500 7
Skipped line (doesn't match): 5/23/2024 WEST OUTLET (MOOSEHEAD L) TAUNTON & RAYNHAM A BROOK TROUT 600 10
Skipped line (doesn't match): 9/26/2024 WEST OUTLET (MOOSEHEAD L) TAUNTON & RAYNHAM A BROOK TROUT 400 12
Skipped line (doesn't match): Page 34 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Somerset County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Somerset County
Skipped line (doesn't match): Page 35 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Waldo County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Waldo County
Skipped line (doesn't match): Page 36 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Washington County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 37 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Washington County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 38 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): Washington County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : Washington County
Skipped line (doesn't match): Page 39 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): York County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 40 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): York County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 41 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): York County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): Page 42 of 43 Annual Stocking Receipt Data 1/2/20252024 Year to Date STOCKING REPORT
Skipped line (doesn't match): York County
Skipped line (doesn't match): DATE WATER City/Town SPECIES QTY SIZE (inch)
Skipped line (doesn't match): End of : York County
Skipped line (doesn't match): Page 43 of 43 Annual Stocking Receipt Data 1/2/2025
        Date                               City/Town  Qty  Size (inch)  \
0  4/18/2024                   ANDROSCOGGIN R LISBON  300           10
1   5/7/2024                   ANDROSCOGGIN R LISBON  200           10
2  4/25/2024          ANDROSCOGGIN R (LITTLE) AUBURN  515            9
3  4/25/2024  ANDROSCOGGIN R (LITTLE) MECHANIC FALLS  350            9
4  4/25/2024           ANDROSCOGGIN R (LITTLE) MINOT  300            9

          Fish
0  BROOK TROUT
1  BROOK TROUT
2  BROWN TROUT
3  BROWN TROUT
4  BROWN TROUT

In [4]:
#df shape
df.shape

(1799, 5)

In [5]:
#Print df
print(df)

            Date                               City/Town  Qty  Size (inch)  \
0      4/18/2024                   ANDROSCOGGIN R LISBON  300           10
1       5/7/2024                   ANDROSCOGGIN R LISBON  200           10
2      4/25/2024          ANDROSCOGGIN R (LITTLE) AUBURN  515            9
3      4/25/2024  ANDROSCOGGIN R (LITTLE) MECHANIC FALLS  350            9
4      4/25/2024           ANDROSCOGGIN R (LITTLE) MINOT  300            9
...          ...                                     ...  ...          ...
1794  11/28/2024                          WILSON L ACTON   17           18
1795   4/10/2024                       WORSTER B BERWICK  200           10
1796    5/3/2024                       WORSTER B BERWICK  200           10
1797  10/16/2024                            YORK P ELIOT  200           12
1798    5/7/2024                            YORK R ELIOT  200           10

             Fish
0     BROOK TROUT
1     BROOK TROUT
2     BROWN TROUT
3     BROWN TROUT
4     BROWN TROUT
...           ...
1794  BROWN TROUT
1795  BROOK TROUT
1796  BROOK TROUT
1797  BROOK TROUT
1798  BROOK TROUT

[1799 rows x 5 columns]

In [6]:
#Check for "unknown"
print(df[df["Fish"]=="Unknown"])

Empty DataFrame
Columns: [Date, City/Town, Qty, Size (inch), Fish]
Index: []

In [7]:
# Define the function to separate bodies of water and towns
def separate_water_and_town(city_town):
    # Regular expression to handle cases like 'R (LITTLE) AUBURN', 'L ACTON', etc.
    # Water body (R, L, P, B) comes before the town name
    pattern = r'^(.*?)(\s+(P|L|R|B)\s?[\w\s\(\)-]+(?:\s*\d*)?$)'

    # Search for the body of water using regex
    match = re.search(pattern, city_town)
    
    if match:
        # Correctly assign the parts, ensure the city comes after the water body
        town = match.group(1).strip()  # This should be the town name
        water = match.group(2).strip()  # This should be the body of water part
        
        return town, water
    else:
        # If no match, return the whole input as the town and None for water
        return city_town, None

# Apply the function to separate the columns
df[['Water', 'City']] = df['City/Town'].apply(lambda x: pd.Series(separate_water_and_town(x)))

# Drop the old 'City/Town' column and reorder the columns to retain all data
df = df.drop(columns=['City/Town'])

# Reorder the columns
df = df[['Date', 'Water', 'City', 'Qty', 'Size (inch)', 'Fish']]

# Print the final DataFrame
print(df)

            Date         Water                       City  Qty  Size (inch)  \
0      4/18/2024  ANDROSCOGGIN                   R LISBON  300           10
1       5/7/2024  ANDROSCOGGIN                   R LISBON  200           10
2      4/25/2024  ANDROSCOGGIN          R (LITTLE) AUBURN  515            9
3      4/25/2024  ANDROSCOGGIN  R (LITTLE) MECHANIC FALLS  350            9
4      4/25/2024  ANDROSCOGGIN           R (LITTLE) MINOT  300            9
...          ...           ...                        ...  ...          ...
1794  11/28/2024        WILSON                    L ACTON   17           18
1795   4/10/2024       WORSTER                  B BERWICK  200           10
1796    5/3/2024       WORSTER                  B BERWICK  200           10
1797  10/16/2024          YORK                    P ELIOT  200           12
1798    5/7/2024          YORK                    R ELIOT  200           10

             Fish
0     BROOK TROUT
1     BROOK TROUT
2     BROWN TROUT
3     BROWN TROUT
4     BROWN TROUT
...           ...
1794  BROWN TROUT
1795  BROOK TROUT
1796  BROOK TROUT
1797  BROOK TROUT
1798  BROOK TROUT

[1799 rows x 6 columns]

In [8]:
# Define the function to move the water body abbreviation (R, L, B, P) from the 'City' column to the 'Water' column
def move_water_abbreviation_to_water_column(row):
    # Ensure that the City column is a string before proceeding
    city_value = str(row['City'])

    # Regular expression to detect the water body abbreviation at the start of the City name (R, L, B, P)
    pattern = r'^(R|L|B|P)\s+'

    # Check if the pattern is at the beginning of the City name
    match = re.match(pattern, city_value)

    if match:
        # Move the abbreviation (and the water body) to the 'Water' column
        water_body = match.group(1)  # Capture the water abbreviation
        water = row['Water'] + ' ' + water_body  # Append it to the existing water column value
        city = city_value[match.end():].strip()  # Remove the water abbreviation from the City name
        
        # Update the row with the new values
        return pd.Series([city, water], index=['City', 'Water'])
    else:
        # If no match, return the row as it is
        return row[['City', 'Water']]

# Assuming you have your dataframe already
# Apply the function row by row
df[['City', 'Water']] = df.apply(move_water_abbreviation_to_water_column, axis=1)

# Print the resulting dataframe
print(df)

            Date           Water                     City  Qty  Size (inch)  \
0      4/18/2024  ANDROSCOGGIN R                   LISBON  300           10
1       5/7/2024  ANDROSCOGGIN R                   LISBON  200           10
2      4/25/2024  ANDROSCOGGIN R          (LITTLE) AUBURN  515            9
3      4/25/2024  ANDROSCOGGIN R  (LITTLE) MECHANIC FALLS  350            9
4      4/25/2024  ANDROSCOGGIN R           (LITTLE) MINOT  300            9
...          ...             ...                      ...  ...          ...
1794  11/28/2024        WILSON L                    ACTON   17           18
1795   4/10/2024       WORSTER B                  BERWICK  200           10
1796    5/3/2024       WORSTER B                  BERWICK  200           10
1797  10/16/2024          YORK P                    ELIOT  200           12
1798    5/7/2024          YORK R                    ELIOT  200           10

             Fish
0     BROOK TROUT
1     BROOK TROUT
2     BROWN TROUT
3     BROWN TROUT
4     BROWN TROUT
...           ...
1794  BROWN TROUT
1795  BROOK TROUT
1796  BROOK TROUT
1797  BROOK TROUT
1798  BROOK TROUT

[1799 rows x 6 columns]

In [9]:
df_side = df

In [10]:
# Define the function to move parentheses or hashtag numbers from 'City' to 'Water'
def move_parentheses_or_hashtags_to_water_column(row):
    # Ensure that the City column is a string before proceeding
    city_value = str(row['City'])

    # Regular expression to detect parentheses or hashtag numbers at the start (e.g., "(LITTLE)" or "#1")
    pattern = r'^[\(\#][\w\s]+[\)\#]\s*'  # Matches (anything) or #number at the start of the City column

    # Check if the pattern matches the start of the City value
    match = re.match(pattern, city_value)

    if match:
        # Extract the matched content (e.g., (LITTLE) or #1)
        parentheses_or_hashtag = match.group(0).strip()

        # Update the Water column by appending the parentheses or hashtag content
        water = row['Water'] + ' ' + parentheses_or_hashtag

        # Remove the matched parentheses or hashtag content from the City name
        city = city_value[match.end():].strip()  # Remove the matched part from the City column
        
        # Update the row with the new values
        return pd.Series([city, water], index=['City', 'Water'])
    else:
        # If no match, return the row as it is
        return row[['City', 'Water']]

# Assuming you have your dataframe already
# Apply the function row by row
df[['City', 'Water']] = df.apply(move_parentheses_or_hashtags_to_water_column, axis=1)

# Print the resulting dataframe
print(df)

            Date                    Water            City  Qty  Size (inch)  \
0      4/18/2024           ANDROSCOGGIN R          LISBON  300           10
1       5/7/2024           ANDROSCOGGIN R          LISBON  200           10
2      4/25/2024  ANDROSCOGGIN R (LITTLE)          AUBURN  515            9
3      4/25/2024  ANDROSCOGGIN R (LITTLE)  MECHANIC FALLS  350            9
4      4/25/2024  ANDROSCOGGIN R (LITTLE)           MINOT  300            9
...          ...                      ...             ...  ...          ...
1794  11/28/2024                 WILSON L           ACTON   17           18
1795   4/10/2024                WORSTER B         BERWICK  200           10
1796    5/3/2024                WORSTER B         BERWICK  200           10
1797  10/16/2024                   YORK P           ELIOT  200           12
1798    5/7/2024                   YORK R           ELIOT  200           10

             Fish
0     BROOK TROUT
1     BROOK TROUT
2     BROWN TROUT
3     BROWN TROUT
4     BROWN TROUT
...           ...
1794  BROWN TROUT
1795  BROOK TROUT
1796  BROOK TROUT
1797  BROOK TROUT
1798  BROOK TROUT

[1799 rows x 6 columns]

In [11]:
#manual check for errors in city name
df["City"].unique()

array(['LISBON', 'AUBURN', 'MECHANIC FALLS', 'MINOT', 'LIVERMORE',
       'TURNER', 'DURHAM', 'PARK P AUBURN', 'POLAND', 'LEWISTON',
       'BROOK L PRESQUE ISLE', 'T19 R11 WELS', 'T14 R9 WELS',
       'SAINT JOHN PLT', 'T15 R9 WELS', 'HOULTON', 'LITTLETON',
       'MONTICELLO', 'GRAND ISLE', 'T16 R5 WELS', 'NEW CANADA', 'WESTON',
       'EAGLE LAKE', 'LINNEUS', 'LIMESTONE', 'PRESQUE ISLE',
       'RIVER FORT KENT', 'T17 R12 WELS', 'T18 R10 WELS', 'ORIENT',
       'MORO PLT', 'REED PLT', 'BROOK L MAPLETON', None, 'T14 R8 WELS',
       'T17 R4 WELS', 'T16 R4 WELS', 'T4 R3 WELS', 'HAYNESVILLE',
       'OAKFIELD', 'FORKSTOWN TWP', 'T11 R10 WELS', 'TC R2 WELS',
       'FORT KENT', 'MOLUNKUS TWP', 'FORT FAIRFIELD', 'NEW LIMERICK',
       'T9 R3 WELS', 'ISLAND FALLS', 'PORTAGE LAKE', 'T19 R12 WELS',
       'T11 R8 WELS', 'T11 R4 WELS', 'SQUAPAN TWP',
       'BROOK L (THIRD) NEW CANADA', 'HODGDON', 'DYER BROOK',
       'T12 R14 WELS', 'T7 R5 WELS', 'BRIDGTON', 'GORHAM', 'SEBAGO',
       'WESTBROOK', 'NEW GLOUCESTER', 'WINDHAM', 'NORTH YARMOUTH',
       'POWNAL', 'CASCO', 'BRUNSWICK', 'RAIN P NAPLES', 'GRAY', 'RAYMOND',
       'HARRISON', 'SOUTH PORTLAND', 'NAPLES', 'SCARBOROUGH',
       'CUMBERLAND', 'FALMOUTH', 'YARMOUTH', 'STANDISH', 'BALDWIN',
       'EUSTIS', 'MADRID', 'TOWNSHIP D', 'ALDER STREAM TWP',
       'BEATTIE TWP', 'CHAIN OF PONDS TWP', 'BOG CHAIN OF PONDS TWP',
       'CARRABASSET VALLEY', 'KINGFIELD', 'PONDS CHAIN OF PONDS TWP',
       'INDUSTRY', 'NEW SHARON', 'LANG TWP', 'DALLAS PLT', 'COPLIN PLT',
       'RANGELEY', 'SANDY RIVER PLT', 'CHESTERVILLE', 'JIM POND TWP',
       'PERKINS TWP', 'KIBBY TWP', 'LOWELLTOWN TWP', 'PHILLIPS',
       'TOWNSHIP E', 'BLUE P AVON', 'BLUE HIGH SCHOOL P FARMINGTON',
       'POND TOWNSHIP 6 NORTH OF', 'CARTHAGE', 'STRONG', 'FARMINGTON',
       'RIVER P (MIDDLE) SANDY RIVER PLT', 'AVON', 'RIVER P TOWNSHIP E',
       'WYMAN TWP', 'TOWNSHIP 6 NORTH OF', 'WILTON', 'WELD', 'T10 SD',
       'OTIS', 'WINTER HARBOR', 'ELLSWORTH', 'AURORA', 'BAR HARBOR',
       'LAND L T35 MD', 'ORLAND', 'T40 MD', 'T9 SD', 'OQITON TWP',
       'AMHERST', 'MOUNT DESERT', 'SULLIVAN', 'GREAT POND', 'BUCKSPORT',
       'MARIAVILLE', 'BUCK P BUCKSPORT', 'GOULDSBORO', 'T28 MD',
       'DEER ISLE', 'FRANKLIN', 'SOUTHWEST HARBOR', 'T34 MD', 'EASTBROOK',
       'SURRY', 'DEDHAM', 'T32 MD', 'TREMONT', 'PISTOL L T3 ND',
       'HANCOCK', 'T3 ND', 'RIVER L T10 SD', 'BROOKSVILLE', 'BELGRADE',
       'VASSALBORO', 'CHINA', 'MONMOUTH', 'MANCHESTER', 'FAYETTE',
       'VIENNA', 'SIDNEY', 'LITCHFIELD', 'ROME', 'WINTHROP', 'OAKLAND',
       'MOUNT VERNON', 'AUGUSTA', 'WINDSOR', 'CLINTON', 'HOPE',
       'VINALHAVEN', 'ROCKLAND', 'WASHINGTON', 'CAMDEN', 'ISLE AU HAUT',
       'ROCKPORT', 'APPLETON', 'UNION', 'WARREN', 'BOOTHBAY', 'BREMEN',
       'JEFFERSON', 'WALDOBORO', 'DAMARISCOTTA', 'WISCASSET', 'NOBLEBORO',
       'BRISTOL', 'ALNA', 'SOUTH BRISTOL', 'SUMNER', 'CANTON', 'HANOVER',
       'BETHEL', 'RUMFORD', 'GILEAD', 'MEXICO', 'WEST PARIS', 'GREENWOOD',
       'OXFORD', 'PARIS', 'DIXFIELD', 'MAGALLOWAY PLT', 'POND UPTON',
       'STONEHAM', 'WATERFORD', 'PORTER', 'LOVELL', 'BRIDGE P ALBANY TWP',
       'WOODSTOCK', 'HARTFORD', 'BROWNFIELD', 'FRYEBURG',
       'OUTLET FRYEBURG', 'HIRAM', 'STOW', 'MILTON TWP', 'ALBANY TWP',
       'ROXBURY', 'BYRON', 'ANDOVER', 'ADAMSTOWN TWP', 'OTISFIELD',
       'DENMARK', 'SWEDEN', 'PARKERTOWN TWP', 'BUCKFIELD', 'PERU',
       'NORWAY', 'OUTLET NORWAY', 'LAKES TOWNSHIP C',
       'LAKES RICHARDSONTOWN TWP', 'GRAFTON TWP', 'NEWRY', 'MASON TWP',
       'BATCHELDERS GRANT T', 'ORRINGTON', 'BURLINGTON', 'T8 R7 WELS',
       'T3 R9 NWP', 'ENFIELD', 'LINCOLN', 'T5 R7 WELS', 'ETNA', 'CLIFTON',
       'PATTEN', 'T6 R6 WELS', 'T6 R8 WELS', 'HERMON', 'T7 R8 WELS',
       'MILLINOCKET', 'BANGOR', 'T4 R7 WELS', 'T1 R8 WELS', 'R8 WELS',
       'OLD TOWN', 'LOWELL', 'GRAND FALLS TWP', 'T4 INDIAN PURCHASE T',
       'BREWER', 'DEXTER', 'NEWPORT', 'CORINNA', 'PLT', 'MOUNT CHASE',
       'LEE', 'T3 INDIAN PURCHASE T', 'ORONO', 'LAKEVILLE',
       'SOLDIERTOWN TWP T2', 'T2 R9 WELS', 'T2 R12 WELS', 'RAINBOW TWP',
       'SEBEC', 'BOWERBANK', 'T7 R9 WELS', 'MONSON', 'PARKMAN',
       'GUILFORD', 'TROUT BROOK TWP', 'DOVER-FOXCROFT', 'SHIRLEY',
       'T7 R10 WELS', 'T3 R11 WELS', 'T3 R10 WELS', 'SANGERVILLE',
       'T9 R11 WELS', 'T1 R11 WELS', 'T3 R13 WELS', 'ABBOT',
       'T10 R11 WELS', 'BIG MOOSE TWP', 'PIT P MOOSEHEAD JUNCTION',
       'ELLIOTTSVILLE TWP', 'WILLIMANTIC', 'T2 R10 WELS', 'T7 R11 WELS',
       'T7 R9 NWP', 'T10 R10 WELS', 'TA R10 WELS', 'TB R10 WELS',
       'KINGSBURY PLT', 'T1 R13 WELS', 'BOG SHAWTOWN TWP', 'TA R11 WELS',
       'T8 R10 WELS', 'MILO', 'GREENVILLE', 'LILY BAY TWP', 'BROWNVILLE',
       'T1 R9 WELS', 'T8 R11 WELS', 'BLANCHARD TWP', 'MOOSEHEAD JUNCTION',
       'BEAVER COVE', 'T2 R13 WELS', 'FRENCHTOWN TWP', 'SHAWTOWN TWP',
       'T4 R13 WELS', 'LAKE VIEW PLT', 'T4 R9 NWP', 'EAST MIDDLESEX CANA',
       'BOWDOIN', 'PHIPPSBURG', 'GEORGETOWN', 'TOPSHAM', 'WOOLWICH',
       'ARROWSIC', 'ATTEAN TWP', 'BALD MOUNTAIN TWP T2', 'SOLON',
       'PIERCE POND TWP', 'PLEASANT RIDGE PLT', 'FORSYTH TWP',
       'T3 R5 BKP WKR', 'EMBDEN', 'NEW PORTLAND', 'MOSCOW', 'MISERY TWP',
       'HOBBSTOWN TWP', 'DENNISTOWN PLT', 'MOOSE RIVER',
       'RIVER T3 R4 BKP WKR', 'ROCKWOOD STRIP T2 R', 'CARATUNK',
       'REC (PAL) P FAIRFIELD', 'THORNDIKE TWP', 'MOXIE GORE', 'HARTLAND',
       'ALDER BROOK TWP', 'HARMONY', 'SKOWHEGAN', 'HOLEB TWP',
       'SAINT ALBANS', 'SQUARETOWN TWP', 'SAPLING TWP', 'FAIRFIELD',
       'ANSON', 'BOWTOWN TWP', 'HAMMOND TWP', 'THE FORKS PLT',
       'LONG POND TWP', 'ROCKWOOD STRIP T1 R', 'SANDWICH ACADEMY G',
       'MAYFIELD TWP', 'PARLIN POND TWP', 'NORRIDGEWOCK', 'PITTSFIELD',
       'T3 R4 BKP WKR', 'BRIGHTON PLT', 'ROCK P PIERCE POND TWP',
       'LEXINGTON TWP', 'BERTH P DENNISTOWN PLT', 'CONCORD TWP',
       'MADISON', 'PALERMO', 'KNOX', 'RIVER BELFAST', 'RIVER SWANVILLE',
       'PROSPECT', 'NORTHPORT', 'SEARSMONT', 'LINCOLNVILLE', 'LIBERTY',
       'BROOKS', 'BURNHAM', 'SWANVILLE', 'CUTLER',
       'T31 MD BPP - DAY BLOC', 'NORTHFIELD', 'NO 14 TWP - CATHANCE',
       'CALAIS', 'BAY STATE PARK P EDMUNDS TWP', 'TOPSFIELD', 'DEBLOIS',
       'EAST MACHIAS', 'ROBBINSTON', 'DANFORTH', 'T6 ND BPP',
       'LAKE STREAM GRAND LAKE STREAM P',
       'LAKE STREAM CANAL GRAND LAKE STREAM P', 'PUG L T26 ED BPP',
       'WHITING', 'CHARLOTTE', 'LAMBERT LAKE TWP', 'LEDGE) P CHARLOTTE',
       'TRESCOTT TWP', 'MARION TWP', 'T19 ED BPP', 'BAILEYVILLE',
       'COLUMBIA', 'MARSHFIELD', 'T43 MD BPP', 'T19 MD BPP',
       'DEVEREAUX TWP', 'T30 MD BPP', 'BROOK P (EAST) T18 MD BPP',
       'BROOK P (WEST) T18 MD BPP', 'ALEXANDER', 'KOSSUTH TWP',
       'RIVER L BEDDINGTON', 'BARREL L T6 R1 NBPP', 'CHERRYFIELD',
       'T37 MD BPP', 'ROQUE BLUFFS', 'BEDDINGTON', 'VANCEBORO',
       'FOREST CITY TWP', 'COOPER', 'NEWFIELD', 'KENNEBUNK',
       'KENNEBUNKPORT', 'LIMERICK', 'YORK', 'SACO', 'DAYTON', 'HOLLIS',
       'WELLS', 'LEBANON', 'SOUTH BERWICK', 'NORTH BERWICK', 'SANFORD',
       'LIMINGTON', 'WATERBORO', 'BERWICK', 'LYMAN', 'KITTERY', 'BUXTON',
       'PARSONSFIELD', 'OLD ORCHARD BEACH', 'ACTON', 'SHAPLEIGH',
       'POND B DAYTON', 'BIDDEFORD', 'ELIOT'], dtype=object)

In [12]:
#Checking sandy river plt rows
df[df["City"] == "RIVER P (MIDDLE) SANDY RIVER PLT"]

,Date,Water,City,Qty,Size (inch),Fish
443,5/14/2024,SANDY,RIVER P (MIDDLE) SANDY RIVER PLT,600,10,BROOK TROUT
444,5/14/2024,SANDY,RIVER P (MIDDLE) SANDY RIVER PLT,200,10,BROOK TROUT
445,10/22/2024,SANDY,RIVER P (MIDDLE) SANDY RIVER PLT,300,13,BROOK TROUT

In [13]:
#values for later cleaning
fixlater = ['P) BELGRADE BROOK TROUT', 'P) BELGRADE BROWN TROUT', 'BPP BROOK TROUT']

In [14]:
#values to fix now
fixnow= ['PARK P AUBURN','BROOK L PRESQUE ISLE', 'RIVER FORT KENT', 'BROOK L MAPLETON', 'PORTAGE LAKE', 'BROOK L (THIRD) NEW CANADA', 'RAIN P NAPLES', 'BLUE P AVON', 'BLUE HIGH SCHOOL P FARMINGTON', 'POND TOWNSHIP 6 NORTH OF', 'RIVER P (MIDDLE) SANDY RIVER PLT', 'RIVER P TOWNSHIP E', 'LAND L T35 MD', 'PISTOL L T3 ND', 'RIVER L T10 SD',  'LAKES TOWNSHIP C', 'LAKES RICHARDSONTOWN TWP', 'PIT P MOOSEHEAD JUNCTION', 'BOG SHAWTOWN TWP', 'RIVER T3 R4 BKP WKR', 'REC (PAL) P FAIRFIELD', 'ROCK P PIERCE POND TWP', 'BERTH P DENNISTOWN PLT', 'RIVER BELFAST', 'RIVER SWANVILLE','BAY STATE PARK P EDMUNDS TWP', 'LAKE STREAM GRAND LAKE STREAM P', 'LAKE STREAM CANAL GRAND LAKE STREAM P', 'PUG L T26 ED BPP', 'LEDGE) P CHARLOTTE', 'BROOK P (EAST) T18 MD BPP', 'BROOK P (WEST) T18 MD BPP', 'RIVER L BEDDINGTON', 'BARREL L T6 R1 NBPP', 'POND B DAYTON',]

In [15]:
# Filter the dataframe where "City" is in the "fixnow" list
filtered_df = df[df["City"].isin(fixnow)]

# Select the "City" and "Water" columns together
paired_values = filtered_df[["Water", "City"]]

# Display the paired values
print(paired_values.to_string())

                             Water                                   City
47                      PETTINGILL                          PARK P AUBURN
85                          ARNOLD                   BROOK L PRESQUE ISLE
86                          ARNOLD                   BROOK L PRESQUE ISLE
110                           FISH                        RIVER FORT KENT
111                           FISH                        RIVER FORT KENT
122                         HANSON                       BROOK L MAPLETON
155   PORTAGE HILLS COUNTRY CLUB P                           PORTAGE LAKE
165                            SLY             BROOK L (THIRD) NEW CANADA
197                           COLD                          RAIN P NAPLES
198                           COLD                          RAIN P NAPLES
199                           COLD                          RAIN P NAPLES
398                          MOUNT                            BLUE P AVON
399                          MOUNT                            BLUE P AVON
401                             MT          BLUE HIGH SCHOOL P FARMINGTON
402                            MUD               POND TOWNSHIP 6 NORTH OF
443                          SANDY       RIVER P (MIDDLE) SANDY RIVER PLT
444                          SANDY       RIVER P (MIDDLE) SANDY RIVER PLT
445                          SANDY       RIVER P (MIDDLE) SANDY RIVER PLT
450                          SWIFT                     RIVER P TOWNSHIP E
498                          BURNT                          LAND L T35 MD
584                           SIDE                         PISTOL L T3 ND
590                         SPRING                         RIVER L T10 SD
591                         SPRING                         RIVER L T10 SD
592                         SPRING                         RIVER L T10 SD
969                     RICHARDSON                       LAKES TOWNSHIP C
970                     RICHARDSON               LAKES RICHARDSONTOWN TWP
971                     RICHARDSON               LAKES RICHARDSONTOWN TWP
972                     RICHARDSON                       LAKES TOWNSHIP C
1177                        GRAVEL               PIT P MOOSEHEAD JUNCTION
1178                        GRAVEL               PIT P MOOSEHEAD JUNCTION
1179                        GRAVEL               PIT P MOOSEHEAD JUNCTION
1180                        GRAVEL               PIT P MOOSEHEAD JUNCTION
1205                          LONG                       BOG SHAWTOWN TWP
1348                          DEAD                    RIVER T3 R4 BKP WKR
1349                          DEAD                    RIVER T3 R4 BKP WKR
1350                          DEAD                    RIVER T3 R4 BKP WKR
1351                          DEAD                    RIVER T3 R4 BKP WKR
1360                     FAIRFIELD                  REC (PAL) P FAIRFIELD
1361                     FAIRFIELD                  REC (PAL) P FAIRFIELD
1362                     FAIRFIELD                  REC (PAL) P FAIRFIELD
1363                     FAIRFIELD                  REC (PAL) P FAIRFIELD
1448                         SPLIT                 ROCK P PIERCE POND TWP
1453                         SUGAR                 BERTH P DENNISTOWN PLT
1484                         GOOSE                          RIVER BELFAST
1485                         GOOSE                        RIVER SWANVILLE
1486                         GOOSE                          RIVER BELFAST
1487                         GOOSE                        RIVER SWANVILLE
1530                      COBSCOOK           BAY STATE PARK P EDMUNDS TWP
1544                         GRAND        LAKE STREAM GRAND LAKE STREAM P
1545                         GRAND        LAKE STREAM GRAND LAKE STREAM P
1546                         GRAND        LAKE STREAM GRAND LAKE STREAM P
1547                         GRAND        LAKE STREAM GRAND LAKE STREAM P
1548                         GRAND  LAKE STREAM CANAL GRAND LAKE STREAM P
1549                         GRAND  LAKE STREAM CANAL GRAND LAKE STREAM P
1550                         GRAND  LAKE STREAM CANAL GRAND LAKE STREAM P
1551                         GRAND  LAKE STREAM CANAL GRAND LAKE STREAM P
1553                         HOSEA                       PUG L T26 ED BPP
1566                   LEDGE (BALD                     LEDGE) P CHARLOTTE
1600                          PIKE              BROOK P (EAST) T18 MD BPP
1601                          PIKE              BROOK P (WEST) T18 MD BPP
1602                          PIKE              BROOK P (WEST) T18 MD BPP
1608                      PLEASANT                     RIVER L BEDDINGTON
1609                      PLEASANT                     RIVER L BEDDINGTON
1610                      PLEASANT                     RIVER L BEDDINGTON
1611                      PLEASANT                     RIVER L BEDDINGTON
1613                          PORK                    BARREL L T6 R1 NBPP
1776                          SWAN                          POND B DAYTON
1777                          SWAN                          POND B DAYTON

In [16]:
#Dict for manual changes
changes_dict = {
    'PARK P AUBURN': {'Water': 'PETTINGILL PARK P', 'City': 'AUBURN'},
    'BROOK L PRESQUE ISLE': {'Water': 'ARNOLD BROOK L', 'City': 'PRESQUE ISLE'},
    'RIVER FORT KENT': {'Water': 'FISH RIVER', 'City': 'FORT KENT'},
    'BROOK L MAPLETON': {'Water': 'HANSON BROOK L', 'City': 'MAPLETON'},
    'PORTAGE LAKE': {'Water': 'PORTAGE HILLS COUNTRY CLUB P', 'City': 'PORTAGE LAKE'},
    'BROOK L (THIRD) NEW CANADA': {'Water': 'SLY BROOK L (THIRD)', 'City': 'NEW CANADA'},
    'RAIN P NAPLES': {'Water': 'COLD RAIN P', 'City': 'NAPLES'},
    'BLUE P AVON': {'Water': 'MOUNT BLUE P', 'City': 'AVON'},
    'BLUE HIGH SCHOOL P FARMINGTON': {'Water': 'MT BLUE HIGH SCHOOL P', 'City': 'FARMINGTON'},
    'POND TOWNSHIP 6 NORTH OF': {'Water': 'MUD POND', 'City': 'TOWNSHIP 6 NORTH OF'},
    'RIVER P (MIDDLE) SANDY RIVER PLT': {'Water': 'SANDY RIVER P (MIDDLE)', 'City': 'SANDY RIVER PLT'},
    'RIVER P TOWNSHIP E': {'Water': 'SWIFT RIVER P', 'City': 'TOWNSHIP E'},
    'LAND L T35 MD': {'Water': 'BURNT LAND L', 'City': 'T35 MD'},
    'PISTOL L T3 ND': {'Water': 'SIDE PISTOL L', 'City': 'T3 ND'},
    'RIVER L T10 SD': {'Water': 'SPRING RIVER L', 'City': 'T10 SD'},
    'LAKES TOWNSHIP C': {'Water': 'RICHARDSON LAKES', 'City': 'TOWNSHIP C'},
    'LAKES RICHARDSONTOWN TWP': {'Water': 'RICHARDSON LAKES', 'City': 'RICHARDSONTOWN TWP'},
    'PIT P MOOSEHEAD JUNCTION': {'Water': 'GRAVEL PIT P', 'City': 'MOOSEHEAD JUNCTION'},
    'RIVER T3 R4 BKP WKR': {'Water': 'DEAD RIVER', 'City': 'T3 R4 BKP WKR'},
    'REC (PAL) P FAIRFIELD': {'Water': 'FAIRFIELD REC (PAL) P', 'City': 'FAIRFIELD'},
    'ROCK P PIERCE POND TWP': {'Water': 'SPLIT ROCK P PIERCE POND', 'City': 'TWP'},
    'BERTH P DENNISTOWN PLT': {'Water': 'SUGAR BERTH P', 'City': 'DENNISTOWN PLT'},
    'RIVER BELFAST': {'Water': 'GOOSE RIVER', 'City': 'BELFAST'},
    'RIVER SWANVILLE': {'Water': 'GOOSE RIVER', 'City': 'SWANVILLE'},
    'BAY STATE PARK P EDMUNDS TWP': {'Water': 'COBSCOOK BAY STATE PARK P', 'City': 'EDMUNDS TWP'},
    'LAKE STREAM GRAND LAKE STREAM P': {'Water': 'GRAND LAKE STREAM', 'City': 'GRAND LAKE STREAM P'},
    'LAKE STREAM CANAL GRAND LAKE STREAM P': {'Water': 'GRAND LAKE STREAM CANAL', 'City': 'GRAND LAKE STREAM P'},
    'PUG L T26 ED BPP': {'Water': 'HOSEA PUG L T26 ED BPP', 'City': 'T26 ED BPP'},
    'LEDGE) P CHARLOTTE': {'Water': 'LEDGE (BALD LEDGE) P CHARLOTTE', 'City': 'CHARLOTTE'},
    'BROOK P (EAST) T18 MD BPP': {'Water': 'PIKE BROOK P (EAST)', 'City': 'T18 MD BPP'},
    'BROOK P (WEST) T18 MD BPP': {'Water': 'PIKE BROOK P (WEST)', 'City': 'T18 MD BPP'},
    'RIVER L BEDDINGTON': {'Water': 'PLEASANT RIVER L', 'City': 'BEDDINGTON'},
    'BARREL L T6 R1 NBPP': {'Water': 'PORK BARREL L', 'City': 'T6 R1 NBPP'},
    'POND B DAYTON': {'Water': 'SWAN POND B', 'City': 'DAYTON'}
}

In [17]:
#Check fixlater is done
newone = df[df["City"].isin(fixlater)]
print(newone)

Empty DataFrame
Columns: [Date, Water, City, Qty, Size (inch), Fish]
Index: []

In [18]:
# Iterate through the dictionary and apply the changes
for city, values in changes_dict.items():
    # Update the 'Water' and 'City' columns where the City matches
    df.loc[df['City'] == city, 'Water'] = values['Water']
    df.loc[df['City'] == city, 'City'] = values['City']

In [19]:
#Visual check for nay other cities to fix
df["City"].unique()

array(['LISBON', 'AUBURN', 'MECHANIC FALLS', 'MINOT', 'LIVERMORE',
       'TURNER', 'DURHAM', 'POLAND', 'LEWISTON', 'PRESQUE ISLE',
       'T19 R11 WELS', 'T14 R9 WELS', 'SAINT JOHN PLT', 'T15 R9 WELS',
       'HOULTON', 'LITTLETON', 'MONTICELLO', 'GRAND ISLE', 'T16 R5 WELS',
       'NEW CANADA', 'WESTON', 'EAGLE LAKE', 'LINNEUS', 'LIMESTONE',
       'FORT KENT', 'T17 R12 WELS', 'T18 R10 WELS', 'ORIENT', 'MORO PLT',
       'REED PLT', 'MAPLETON', None, 'T14 R8 WELS', 'T17 R4 WELS',
       'T16 R4 WELS', 'T4 R3 WELS', 'HAYNESVILLE', 'OAKFIELD',
       'FORKSTOWN TWP', 'T11 R10 WELS', 'TC R2 WELS', 'MOLUNKUS TWP',
       'FORT FAIRFIELD', 'NEW LIMERICK', 'T9 R3 WELS', 'ISLAND FALLS',
       'PORTAGE LAKE', 'T19 R12 WELS', 'T11 R8 WELS', 'T11 R4 WELS',
       'SQUAPAN TWP', 'HODGDON', 'DYER BROOK', 'T12 R14 WELS',
       'T7 R5 WELS', 'BRIDGTON', 'GORHAM', 'SEBAGO', 'WESTBROOK',
       'NEW GLOUCESTER', 'WINDHAM', 'NORTH YARMOUTH', 'POWNAL', 'CASCO',
       'BRUNSWICK', 'NAPLES', 'GRAY', 'RAYMOND', 'HARRISON',
       'SOUTH PORTLAND', 'SCARBOROUGH', 'CUMBERLAND', 'FALMOUTH',
       'YARMOUTH', 'STANDISH', 'BALDWIN', 'EUSTIS', 'MADRID',
       'TOWNSHIP D', 'ALDER STREAM TWP', 'BEATTIE TWP',
       'CHAIN OF PONDS TWP', 'BOG CHAIN OF PONDS TWP',
       'CARRABASSET VALLEY', 'KINGFIELD', 'PONDS CHAIN OF PONDS TWP',
       'INDUSTRY', 'NEW SHARON', 'LANG TWP', 'DALLAS PLT', 'COPLIN PLT',
       'RANGELEY', 'SANDY RIVER PLT', 'CHESTERVILLE', 'JIM POND TWP',
       'PERKINS TWP', 'KIBBY TWP', 'LOWELLTOWN TWP', 'PHILLIPS',
       'TOWNSHIP E', 'AVON', 'FARMINGTON', 'TOWNSHIP 6 NORTH OF',
       'CARTHAGE', 'STRONG', 'WYMAN TWP', 'WILTON', 'WELD', 'T10 SD',
       'OTIS', 'WINTER HARBOR', 'ELLSWORTH', 'AURORA', 'BAR HARBOR',
       'T35 MD', 'ORLAND', 'T40 MD', 'T9 SD', 'OQITON TWP', 'AMHERST',
       'MOUNT DESERT', 'SULLIVAN', 'GREAT POND', 'BUCKSPORT',
       'MARIAVILLE', 'BUCK P BUCKSPORT', 'GOULDSBORO', 'T28 MD',
       'DEER ISLE', 'FRANKLIN', 'SOUTHWEST HARBOR', 'T34 MD', 'EASTBROOK',
       'SURRY', 'DEDHAM', 'T32 MD', 'TREMONT', 'T3 ND', 'HANCOCK',
       'BROOKSVILLE', 'BELGRADE', 'VASSALBORO', 'CHINA', 'MONMOUTH',
       'MANCHESTER', 'FAYETTE', 'VIENNA', 'SIDNEY', 'LITCHFIELD', 'ROME',
       'WINTHROP', 'OAKLAND', 'MOUNT VERNON', 'AUGUSTA', 'WINDSOR',
       'CLINTON', 'HOPE', 'VINALHAVEN', 'ROCKLAND', 'WASHINGTON',
       'CAMDEN', 'ISLE AU HAUT', 'ROCKPORT', 'APPLETON', 'UNION',
       'WARREN', 'BOOTHBAY', 'BREMEN', 'JEFFERSON', 'WALDOBORO',
       'DAMARISCOTTA', 'WISCASSET', 'NOBLEBORO', 'BRISTOL', 'ALNA',
       'SOUTH BRISTOL', 'SUMNER', 'CANTON', 'HANOVER', 'BETHEL',
       'RUMFORD', 'GILEAD', 'MEXICO', 'WEST PARIS', 'GREENWOOD', 'OXFORD',
       'PARIS', 'DIXFIELD', 'MAGALLOWAY PLT', 'POND UPTON', 'STONEHAM',
       'WATERFORD', 'PORTER', 'LOVELL', 'BRIDGE P ALBANY TWP',
       'WOODSTOCK', 'HARTFORD', 'BROWNFIELD', 'FRYEBURG',
       'OUTLET FRYEBURG', 'HIRAM', 'STOW', 'MILTON TWP', 'ALBANY TWP',
       'ROXBURY', 'BYRON', 'ANDOVER', 'ADAMSTOWN TWP', 'OTISFIELD',
       'DENMARK', 'SWEDEN', 'PARKERTOWN TWP', 'BUCKFIELD', 'PERU',
       'NORWAY', 'OUTLET NORWAY', 'TOWNSHIP C', 'RICHARDSONTOWN TWP',
       'GRAFTON TWP', 'NEWRY', 'MASON TWP', 'BATCHELDERS GRANT T',
       'ORRINGTON', 'BURLINGTON', 'T8 R7 WELS', 'T3 R9 NWP', 'ENFIELD',
       'LINCOLN', 'T5 R7 WELS', 'ETNA', 'CLIFTON', 'PATTEN', 'T6 R6 WELS',
       'T6 R8 WELS', 'HERMON', 'T7 R8 WELS', 'MILLINOCKET', 'BANGOR',
       'T4 R7 WELS', 'T1 R8 WELS', 'R8 WELS', 'OLD TOWN', 'LOWELL',
       'GRAND FALLS TWP', 'T4 INDIAN PURCHASE T', 'BREWER', 'DEXTER',
       'NEWPORT', 'CORINNA', 'PLT', 'MOUNT CHASE', 'LEE',
       'T3 INDIAN PURCHASE T', 'ORONO', 'LAKEVILLE', 'SOLDIERTOWN TWP T2',
       'T2 R9 WELS', 'T2 R12 WELS', 'RAINBOW TWP', 'SEBEC', 'BOWERBANK',
       'T7 R9 WELS', 'MONSON', 'PARKMAN', 'GUILFORD', 'TROUT BROOK TWP',
       'DOVER-FOXCROFT', 'SHIRLEY', 'T7 R10 WELS', 'T3 R11 WELS',
       'T3 R10 WELS', 'SANGERVILLE', 'T9 R11 WELS', 'T1 R11 WELS',
       'T3 R13 WELS', 'ABBOT', 'T10 R11 WELS', 'BIG MOOSE TWP',
       'MOOSEHEAD JUNCTION', 'ELLIOTTSVILLE TWP', 'WILLIMANTIC',
       'T2 R10 WELS', 'T7 R11 WELS', 'T7 R9 NWP', 'T10 R10 WELS',
       'TA R10 WELS', 'TB R10 WELS', 'KINGSBURY PLT', 'T1 R13 WELS',
       'BOG SHAWTOWN TWP', 'TA R11 WELS', 'T8 R10 WELS', 'MILO',
       'GREENVILLE', 'LILY BAY TWP', 'BROWNVILLE', 'T1 R9 WELS',
       'T8 R11 WELS', 'BLANCHARD TWP', 'BEAVER COVE', 'T2 R13 WELS',
       'FRENCHTOWN TWP', 'SHAWTOWN TWP', 'T4 R13 WELS', 'LAKE VIEW PLT',
       'T4 R9 NWP', 'EAST MIDDLESEX CANA', 'BOWDOIN', 'PHIPPSBURG',
       'GEORGETOWN', 'TOPSHAM', 'WOOLWICH', 'ARROWSIC', 'ATTEAN TWP',
       'BALD MOUNTAIN TWP T2', 'SOLON', 'PIERCE POND TWP',
       'PLEASANT RIDGE PLT', 'FORSYTH TWP', 'T3 R5 BKP WKR', 'EMBDEN',
       'NEW PORTLAND', 'MOSCOW', 'MISERY TWP', 'HOBBSTOWN TWP',
       'DENNISTOWN PLT', 'MOOSE RIVER', 'T3 R4 BKP WKR',
       'ROCKWOOD STRIP T2 R', 'CARATUNK', 'FAIRFIELD', 'THORNDIKE TWP',
       'MOXIE GORE', 'HARTLAND', 'ALDER BROOK TWP', 'HARMONY',
       'SKOWHEGAN', 'HOLEB TWP', 'SAINT ALBANS', 'SQUARETOWN TWP',
       'SAPLING TWP', 'ANSON', 'BOWTOWN TWP', 'HAMMOND TWP',
       'THE FORKS PLT', 'LONG POND TWP', 'ROCKWOOD STRIP T1 R',
       'SANDWICH ACADEMY G', 'MAYFIELD TWP', 'PARLIN POND TWP',
       'NORRIDGEWOCK', 'PITTSFIELD', 'BRIGHTON PLT', 'TWP',
       'LEXINGTON TWP', 'CONCORD TWP', 'MADISON', 'PALERMO', 'KNOX',
       'BELFAST', 'SWANVILLE', 'PROSPECT', 'NORTHPORT', 'SEARSMONT',
       'LINCOLNVILLE', 'LIBERTY', 'BROOKS', 'BURNHAM', 'CUTLER',
       'T31 MD BPP - DAY BLOC', 'NORTHFIELD', 'NO 14 TWP - CATHANCE',
       'CALAIS', 'EDMUNDS TWP', 'TOPSFIELD', 'DEBLOIS', 'EAST MACHIAS',
       'ROBBINSTON', 'DANFORTH', 'T6 ND BPP', 'GRAND LAKE STREAM P',
       'T26 ED BPP', 'WHITING', 'CHARLOTTE', 'LAMBERT LAKE TWP',
       'TRESCOTT TWP', 'MARION TWP', 'T19 ED BPP', 'BAILEYVILLE',
       'COLUMBIA', 'MARSHFIELD', 'T43 MD BPP', 'T19 MD BPP',
       'DEVEREAUX TWP', 'T30 MD BPP', 'T18 MD BPP', 'ALEXANDER',
       'KOSSUTH TWP', 'BEDDINGTON', 'T6 R1 NBPP', 'CHERRYFIELD',
       'T37 MD BPP', 'ROQUE BLUFFS', 'VANCEBORO', 'FOREST CITY TWP',
       'COOPER', 'NEWFIELD', 'KENNEBUNK', 'KENNEBUNKPORT', 'LIMERICK',
       'YORK', 'SACO', 'DAYTON', 'HOLLIS', 'WELLS', 'LEBANON',
       'SOUTH BERWICK', 'NORTH BERWICK', 'SANFORD', 'LIMINGTON',
       'WATERBORO', 'BERWICK', 'LYMAN', 'KITTERY', 'BUXTON',
       'PARSONSFIELD', 'OLD ORCHARD BEACH', 'ACTON', 'SHAPLEIGH',
       'BIDDEFORD', 'ELIOT'], dtype=object)

In [20]:
df[df["Water"]=="SUGAR BERTH P P"]

Empty DataFrame
Columns: [Date, Water, City, Qty, Size (inch), Fish]
Index: []

In [21]:
#Manual fix of values with dictionary
changes_dict2 = {
    'BROOK TROUT': {
        'Water': 'ANDERSON P',        
        'City': 'T10 SD',            
        'Fish': 'BROOK TROUT'    
    },
    'L (ELLIS P) BELGRADE': {
        'Water': 'SALMON L (ELLIS P)',
        'City': 'BELGRADE',
        'Fish': 'BROOK TROUT'  
    },
    'P T4 R13 WELS': {
        'Water': 'SALMON P',
        'City': 'T4 R13 WELS',
        'Fish': 'BROOK TROUT'  
         },
    'P T10 SD': {
        'Water': 'RAINBOW P',
        'City': 'T10 SD',
        'Fish': 'BROOK TROUT'  
    },
    'P T30 MD BPP': {
        'Water': 'SALMON P',
        'City': 'T30 MD BPP',
        'Fish': 'BROOK TROUT'  
    },
    'L (ELLIS P) BELGRADE BROOK TROUT': {
        'Water': 'SALMON L (ELLIS P)',
        'City': 'BELGRADE',
        'Fish': 'BROOK TROUT'  
    },
    'L (ELLIS P) BELGRADE BROWN TROUT': {
        'Water': 'SALMON L (ELLIS P)',
        'City': 'BELGRADE',
        'Fish': 'BROWN TROUT'  
    },
}

In [22]:
#Check dict fixes worked
print(df.iloc[[581,689,690,691,1265,1615,1616]])

            Date               Water         City  Qty  Size (inch)  \
581    10/3/2024            SALMON P       T10 SD  300            8
689    4/12/2024  SALMON L (ELLIS P)     BELGRADE  440           10
690   10/29/2024  SALMON L (ELLIS P)     BELGRADE  500           13
691   10/29/2024  SALMON L (ELLIS P)     BELGRADE  400           12
1265  10/15/2024            SALMON P  T4 R13 WELS  900            8
1615   10/1/2024            SALMON P   T30 MD BPP   50           14
1616   10/1/2024            SALMON P   T30 MD BPP  400            8

             Fish
581   BROOK TROUT
689   BROOK TROUT
690   BROOK TROUT
691   BROWN TROUT
1265  BROOK TROUT
1615  BROOK TROUT
1616  BROOK TROUT

In [23]:
#get index of upton 
df[df["City"]=="POND UPTON"]

          Date Water        City  Qty  Size (inch)         Fish
857  5/16/2024     B  POND UPTON  350            7  L.L. SALMON

In [24]:
# Swap the values in city and water for 857, 1205, 402, 562, 342, 349, 350 using iloc
df.iloc[857, 2] = "UPTON"
df.iloc[857, 1] = "B POND"
df.iloc[1205, 2] = "SHAWTOWN TWP"
df.iloc[1205, 1] = "LONG BOG"
df.iloc[342, 2] = 'CHAIN OF PONDS TWP'
df.iloc[342, 1] = 'CARIBOU BOG'
df.iloc[349, 2] = "CHAIN OF PONDS TWP"
df.iloc[349, 1] = "CHAIN OF PONDS"
df.iloc[350, 2] = "CHAIN OF PONDS TWP"
df.iloc[350, 1] = "CHAIN OF PONDS"

# Swap value in water for 1553 and 1566 using iloc
df.iloc[1553, 1] = "HOSEA PUG L"
df.iloc[1566, 1] = "LEDGE (BALD LEDGE) P"

#Swap value in city for 402, 462 using iloc
df.iloc[402, 2] = "TOWNSHIP 6 NORTH OF WELD"
df.iloc[462, 2] = "TOWNSHIP 6 NORTH OF WELD"

In [25]:
#Rename fish column to "Species"
df.rename(columns={'Fish': 'Species'}, inplace=True)

In [26]:
#Reorder columns
df = df[["Date", "Water", "City", "Species", "Qty", "Size (inch)"]]
print(df)

            Date                    Water            City      Species  Qty  \
0      4/18/2024           ANDROSCOGGIN R          LISBON  BROOK TROUT  300
1       5/7/2024           ANDROSCOGGIN R          LISBON  BROOK TROUT  200
2      4/25/2024  ANDROSCOGGIN R (LITTLE)          AUBURN  BROWN TROUT  515
3      4/25/2024  ANDROSCOGGIN R (LITTLE)  MECHANIC FALLS  BROWN TROUT  350
4      4/25/2024  ANDROSCOGGIN R (LITTLE)           MINOT  BROWN TROUT  300
...          ...                      ...             ...          ...  ...
1794  11/28/2024                 WILSON L           ACTON  BROWN TROUT   17
1795   4/10/2024                WORSTER B         BERWICK  BROOK TROUT  200
1796    5/3/2024                WORSTER B         BERWICK  BROOK TROUT  200
1797  10/16/2024                   YORK P           ELIOT  BROOK TROUT  200
1798    5/7/2024                   YORK R           ELIOT  BROOK TROUT  200

      Size (inch)
0              10
1              10
2               9
3               9
4               9
...           ...
1794           18
1795           10
1796           10
1797           12
1798           10

[1799 rows x 6 columns]

In [27]:
#Check for only 6 species
df["Species"].unique()

array(['BROOK TROUT', 'BROWN TROUT', 'RAINBOW TROUT', 'LAKE TROUT',
       'L.L. SALMON', 'SPLAKE'], dtype=object)

In [28]:
#look for null city values
df[df["City"].isnull()]

,Date,Water,City,Species,Qty,Size (inch)
123,9/30/2024,HODGDON DEADWATER HODGDON,None,BROWN TROUT,250,12
164,9/26/2024,SCOPAN STREAM MASARDIS,None,L.L. SALMON,350,12
247,4/23/2024,OTTER P #2 STANDISH,None,BROOK TROUT,200,10
248,10/15/2024,OTTER P #2 STANDISH,None,BROOK TROUT,600,8
249,10/15/2024,OTTER P #2 STANDISH,None,BROOK TROUT,125,12
250,10/31/2024,OTTER P #2 STANDISH,None,BROOK TROUT,15,17
251,11/19/2024,OTTER P #2 STANDISH,None,BROOK TROUT,400,8
252,4/23/2024,OTTER P #4 STANDISH,None,BROOK TROUT,100,10
253,10/15/2024,OTTER P #4 STANDISH,None,BROOK TROUT,300,8
254,10/15/2024,OTTER P #4 STANDISH,None,BROOK TROUT,75,12
255,10/31/2024,OTTER P #4 STANDISH,None,BROOK TROUT,10,17
256,11/19/2024,OTTER P #4 STANDISH,None,BROOK TROUT,400,8
454,5/2/2024,TEMPLE STREAM TEMPLE,None,BROOK TROUT,330,10
455,5/2/2024,TEMPLE STREAM FARMINGTON,None,BROOK TROUT,220,10
456,5/21/2024,TEMPLE STREAM FARMINGTON,None,BROOK TROUT,200,10
457,5/21/2024,TEMPLE STREAM TEMPLE,None,BROOK TROUT,300,10
483,4/19/2024,WILSON STREAM WILTON,None,BROOK TROUT,250,10
484,5/1/2024,WILSON STREAM WILTON,None,BROOK TROUT,495,10
485,5/21/2024,WILSON STREAM WILTON,None,BROOK TROUT,450,10
622,5/3/2024,COBBOSSEECONTEE STREAM GARDINER,None,BROOK TROUT,1000,10
649,10/17/2024,JUG STREAM MONMOUTH,None,BROOK TROUT,75,12
667,4/17/2024,MESSALONSKEE STREAM WATERVILLE,None,BROOK TROUT,220,10
668,4/17/2024,MESSALONSKEE STREAM WATERVILLE,None,BROOK TROUT,200,10
669,4/17/2024,MESSALONSKEE STREAM OAKLAND,None,BROOK TROUT,440,10
670,5/2/2024,MESSALONSKEE STREAM OAKLAND,None,BROOK TROUT,440,10
671,5/2/2024,MESSALONSKEE STREAM WATERVILLE,None,BROOK TROUT,440,10
672,11/25/2024,MESSALONSKEE STREAM OAKLAND,None,BROOK TROUT,1000,8
715,4/24/2024,TOGUS VA HOSPITAL AUGUSTA,None,BROOK TROUT,300,10
717,4/28/2024,WILSON STREAM MONMOUTH,None,BROOK TROUT,300,10
991,10/2/2024,SPECK P #2 NORWAY,None,BROOK TROUT,150,6
1028,5/2/2024,COLD STREAM ENFIELD,None,BROOK TROUT,200,10
1029,5/14/2024,COLD STREAM ENFIELD,None,BROOK TROUT,110,10
1030,5/21/2024,COLD STREAM ENFIELD,None,BROOK TROUT,100,10
1031,5/29/2024,COLD STREAM ENFIELD,None,BROOK TROUT,100,10
1032,6/5/2024,COLD STREAM ENFIELD,None,BROOK TROUT,17380,2
1067,5/1/2024,MATTAGODUS STREAM SPRINGFIELD,None,BROOK TROUT,250,10
1105,4/26/2024,SOUADABSCOOK STREAM HAMPDEN,None,BROOK TROUT,200,10
1120,5/2/2024,ALDER STREAM ATKINSON,None,BROOK TROUT,250,10
1132,4/25/2024,BLACK STREAM SANGERVILLE,None,BROOK TROUT,250,10
1133,5/14/2024,BLACK STREAM SANGERVILLE,None,BROOK TROUT,250,10
1273,6/4/2024,SCHOODIC STREAM MEDFORD,None,BROOK TROUT,4600,2
1341,4/12/2024,CARRABASSETT STREAM CANAAN,None,BROOK TROUT,300,10
1372,4/25/2024,HEALD STREAM JACKMAN,None,BROOK TROUT,500,10
1381,4/17/2024,INDIAN STREAM SAINT ALBANS,None,BROOK TROUT,330,10
1395,10/29/2024,LAKE GEORGE CANAAN,None,L.L. SALMON,50,12
1396,10/29/2024,LAKE GEORGE CANAAN,None,RAINBOW TROUT,500,14
1397,10/30/2024,LAKE GEORGE CANAAN,None,BROOK TROUT,300,8
1398,10/30/2024,LAKE GEORGE CANAAN,None,BROOK TROUT,400,12
1399,11/7/2024,LAKE GEORGE CANAAN,None,BROWN TROUT,200,12
1410,4/12/2024,MILL STREAM EMBDEN,None,BROOK TROUT,70,10
1411,5/1/2024,MILL STREAM EMBDEN,None,BROOK TROUT,77,10
1412,5/28/2024,MILL STREAM EMBDEN,None,BROOK TROUT,70,10
1439,4/25/2024,SANDY STREAM JACKMAN,None,BROOK TROUT,500,10
1471,5/3/2024,WESSERUNSETT STREAM ATHENS,None,BROWN TROUT,400,9
1515,5/6/2024,SANDY STREAM UNITY,None,BROOK TROUT,500,10

In [29]:
#Function to move town name from water column to town
def move_last_word_to_city(df):
    # Filter the rows where 'City' is null
    city_null_rows = df[df['City'].isnull()]
    
    # Apply the transformation to those rows
    for idx, row in city_null_rows.iterrows():
        # Get the current value in the 'Water' column
        water_value = row['Water']
        
        # Split the 'Water' column by spaces and get the last word
        words = water_value.split()
        if len(words) > 1:  # Ensure there's more than one word to move
            last_word = words[-1]  # Get the last word
            # Move the last word to the 'City' column
            df.at[idx, 'City'] = last_word
            # Remove the last word from the 'Water' column
            df.at[idx, 'Water'] = ' '.join(words[:-1])
    
    return df

# Apply the function to your DataFrame
df = move_last_word_to_city(df)

In [30]:
#Confirm null values fixed
df[df["City"].isnull()]

Empty DataFrame
Columns: [Date, Water, City, Species, Qty, Size (inch)]
Index: []

In [31]:
#filling in shortened values
df['City'].replace('GRAND LAKE STREAM P', 'GRAND LAKE STREAM PLT', inplace=True)

/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_12622/2135936025.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].replace('GRAND LAKE STREAM P', 'GRAND LAKE STREAM PLT', inplace=True)
/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_12622/2135936025.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City'].replace('GRAND LAKE STREAM P', 'GRAND LAKE STREAM PLT', inplace=True)

In [32]:
#More shortened values
df['City'].replace('SANDWICH ACADEMY G', 'SANDWICH ACADEMY GRANT TWP', inplace=True)
df['City'].replace('EAST MIDDLESEX CANA', 'EAST MIDDLESEX CANAL GRANT TWP', inplace=True)
df['City'].replace('T4 INDIAN PURCHASE T', 'T4 INDIAN PURCHASE TOWNSHIP', inplace=True)

/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_12622/3318183644.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].replace('SANDWICH ACADEMY G', 'SANDWICH ACADEMY GRANT TWP', inplace=True)
/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_12622/3318183644.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City'].replace('SANDWICH ACADEMY G', 'SANDWICH ACADEMY GRANT TWP', inplace=True)
/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_12622/3318183644.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].replace('EAST MIDDLESEX CANA', 'EAST MIDDLESEX CANAL GRANT TWP', inplace=True)
/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_12622/3318183644.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City'].replace('EAST MIDDLESEX CANA', 'EAST MIDDLESEX CANAL GRANT TWP', inplace=True)
/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_12622/3318183644.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].replace('T4 INDIAN PURCHASE T', 'T4 INDIAN PURCHASE TOWNSHIP', inplace=True)
/var/folders/pm/v1wywnps12sf4vmw4zxrydwr0000gn/T/ipykernel_12622/3318183644.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City'].replace('T4 INDIAN PURCHASE T', 'T4 INDIAN PURCHASE TOWNSHIP', inplace=True)

In [33]:
#Save as new csv
df.to_csv('Maine_Stocking_24.csv', index=False)